.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 66%;
}

.slide h2.shout {
  font-size: 3.2em;
  line-height: 1.2;
}

.slide.toc h2 {
  display: none;
}

.text.slide p {
  font-size: 1.5em;
  line-height: 1.4;
  letter-spacing: -.5px;
  font-weight: bold;
  margin: .8em 0;
  color: #453688;
}

.faded {
  opacity: .2;
  filter: contrast(1.1);
}

blockquote {
  margin-top: -21px;
}
blockquote p {
  font-weight: bold;
  font-style: italic;
}
.slide.text blockquote {
  margin-top: 60px;
}
